/* Globales */
html {
    font-size: 63%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.header{
    display: flex;
     background-color: aqua;
}

.header_logo{
    height: 13rem;
}

.nav{
    display: flex;
    flex-direction: column;
}
.navegacion{
  padding: auto;
  text-align: center;
  max-width: 120rem;
  margin: 2rem 10rem;
  
}