:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --colorDifuminado: #657FA2;
    --colorBlanco: #fff;
    --colorBoton: #cc792c;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 2rem;
    line-height: 1.7;
}

/* Globales */ 
.contenerdor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fuenteParrafos);
}

/******************************************* Propiedades de la pagina ******************************/
.header{
    background: linear-gradient(to right, var(--colorBlanco) 0%, var(--colorDifuminado) 50%, var(--colorDifuminado) 50%);
    width: 100%;
    /*position: fixed;*/
    height: 10rem;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 25rem;
    padding: 15px;
}
.nav-menu{
    display: flex;
    line-height: 5.5rem;
    padding-right: 4rem;
    list-style: none;
    margin: 0;
}
.nav-menu-link{
    color: white;
    padding: 1.6rem 3rem 2.8rem 3rem;
}
.nav-menu-link:hover{
    background-color: #7091bb;
}

.nav-menu-items{
    width: max-content;
}

.contenedor{
    width: 100%;
}
.img-fondo{
    width: 100%;
    padding: 3rem 0 1rem;
}

.nav-submenu-link{
    color: var(--colorBlanco);
    padding: 0 20px 0 20px;
    line-height: 4.5rem;
}
.submenu{    
    background-color: #495d77;    
    color: var(--colorBlanco);
}
ul, ol{
    list-style: none;
}
.nav li a{
    display: block;
    text-decoration: none;    
}
.nav li a:hover{
    background-color: #7091bb;
}
.nav > li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 200px;
}
.nav li:hover > ul{
    display: block;
}
/************** Conoce mas *******************************/
.conoce-mas{
    background: #3b4c61;
    width: 100%;
    height: 17rem;
}
.section{
    display: flex;
    justify-content: space-between;
}
.img-conoce-mas{
    width: 25rem;
    height: 17rem;
    padding: 0;
}
.enlace-conoce-mas{
    width: 25rem;
    height: 7rem;
    margin: 5rem 1rem 5rem 0;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: var(--colorBoton);
    color: var(--colorBlanco);
    border: none;
    font-weight: 700;
    text-align: center;
    padding-top: 14px;
}
.enlace-conoce-mas:hover{
    background-color: #94571f;
}

.cambio{
    text-align: center;
    font-family: var(--fuenteParrafos);
    color: var(--colorBlanco);
    margin-bottom: 1rem;
}
.texto-conocemas{
    font-family: var(--fuenteParrafos);
    margin: 0;
    color: var(--colorBlanco);
}

/********************************************* formulario ********************************/
.fondo{
    background-color: #83a6d3;
    padding-top: 2rem;
    padding-bottom: 4rem;
    margin-top: 2.5rem;
}

.texto-formulario{
    color: var(--colorBlanco);
    font-weight: bolder;
    margin-left: 15rem;
}
.contenedor2{
    margin: 0 30rem 0 30rem;
}
.cuadros-beneficios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.cuadro-beneficios{
    background: linear-gradient(to top, var(--colorDifuminado) 0%, var(--colorBlanco) 100%);
    border: 2px solid black;
    border-radius: 35px;
    width: 27rem;
    height: 40rem;
    display: grid;
    grid-template-columns: 1;
    justify-self: center;
    
}
.img-beneficios{
    width: 10rem;
    display: flex;
    justify-content: center;
    margin: 1rem 8rem 0 8rem;
}
.texto-beneficios{
    font-family: var(--fuenteHeading);
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 0rem;
    text-align: center;
}
.subtexto{
    margin-top: 0;
    margin-bottom: 0;
}
.subtexto-beneficios{
    line-height: 2.3rem;
    font-size: 1.8rem;
    text-align: center;
}

.formulario{
    background-color: var(--colorDifuminado);
    width: min(60rem, 100%); /* Utiliza el valor mas pequeño */
    /* Solo utilizar margin cuando tengamos un formulario y cuyo padre no sea un display flex*/
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 2.5rem;
    padding-bottom: 0rem;
}

.formulario fieldset{
    border: none;
    border-radius: 35px;    
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--colorBlanco);
}
.legend{
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) { 
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
        margin-bottom: 3rem;
    }
    /* Lo que hace nth-child es que si tenemos varias clases dentro de una section o div selecciona el numero de clase que nosotros queramos empezando con el 1*/
    .campo:nth-child(3),
    .campo:nth-child(4){  
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
    color: var(--colorBlanco);
}

.campo label{
    color: var(--blanco);
    margin-bottom: .5rem;
    display: block;

}
.campo textarea{
    height: 20rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.boton{
    background-color: var(--colorBoton);
    color: var(--colorBlanco);
    text-decoration: none;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 50px;
}

.boton:hover{
    background-color: #ce7d32;
}

.alinear{
    display: flex;
    justify-content: right;
    margin-top: 5rem;
    margin-bottom: 0rem;
}


/************************************************** footer ************************/
.footer{
    background-color: var(--colorDifuminado);
    height: 25rem;
    margin-top: 2.5rem;
}

.contenedor-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imagen-footer{
    width: 25rem;
    height: 10rem;
    padding: 1rem;
    margin-top: 8rem;
}

.conocenos{
    color: var(--colorBlanco);
    grid-row: 1 /2;
    grid-column: 2 /3;
}

.sitios-relacionados{
    color: var(--colorBlanco);
    grid-row: 1 /2;
    grid-column: 3 /4;
    margin-top: 0;
    margin-bottom: 0;
}

.enlaces{
    color:var(--colorBlanco);
}

.titulo-footer{
    font-weight: bolder;
}



/****************************************************** Apartado Ubicacion **************************************/
.ubicacion{
    background-color: #3b4c61;
    font-family: var(--fuenteParrafos);
    color: var(--colorBlanco);
    height: 90rem;
}
.texto-ubicacion{    
    font-size: 3rem;
    margin-left: 3rem;
}
.contenedor-mapa{
    display: grid;
    
}
.mapa{
    grid-column: 2 / 2;
    grid-row: 1 / 2;
}
.texto_abajo-ubicacion{
    font-family: var(--fuenteParrafos);
    font-size: 2.5rem;
    margin: 0;
    padding-top: 2rem;
    padding-left: 2rem;
}
.margin{
    margin: 1rem;
}

.img-icon{
    width: 20px;
}

.correo{
    outline: none;
    color: var(--colorBlanco);
}

/********************************************************** Apartado Contacto *******************************************/
.contenedor-info_form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #3b4c61;
    padding-bottom: 2rem;
}
.datos{
    color: var(--colorBlanco);
    margin: 10rem 2rem 0 2rem;
    text-align: center;
}
.textarea{
    resize: none;
}

/********************************************************* Apartado Definicion *******************************************/
.contenedor-definicion{    
    background-color: #657FA2; /* Cambiar color */
    height: 55rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    padding-bottom: 2rem;
}

.texto-definicion{
    margin: 10rem 2rem 0 2rem;
    text-align: center;
    color: var(--colorBlanco);
}
.imagen-definicion{
    width: 45rem;
    margin: 0 auto;
    padding-top: 10rem;
}

/**************************************************************** Apartado servicios ********/

.contenedor1{
    height: 40rem;
    margin-top: 5rem;
    background: linear-gradient(0deg, #3b4c61 40%, rgba(255,255,255,1) 40%);
    margin-bottom: 40rem;
}

.contenedor-servicios{
    display: column;
    justify-content: flex-start;
    padding-bottom: 1rem;

}
@media  (min-width: 1100px) {
    .contenedor-servicios{
        padding-left: 5%;
        padding-right: 5%;
    }
}


.texto-principal{
    display: flex;
    justify-content: center;
    font-size: 56px;
}
.texto{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    color: #554949;
    text-shadow:  1px 5px 5px #8f7e7e;
}

.servicios{
    background-color: #657FA2;
    border-radius: 100px 100px;
    border-top-left-radius: 0 ;
    margin: 2rem;
    height: 38rem;
    box-shadow: -10px -10px 10px 0px #7e7e7e;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    color: var(--colorBlanco);
    font-family: var(--fuenteParrafos);
    align-items: center;
}

.servicio{
    font-weight: bolder;
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-size: 4.5rem;
    line-height: 5rem;
}

.texto-servicios{
    line-height: 3rem;
}

.imagen-servicio{
    width: 100%;
    border-radius: 100px;
    height: 38rem;
}


.cambia-radius{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

    box-shadow: 0px 5px 5px 10px #7e7e7e;
}

.cambia-radius2{
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    box-shadow: 0px -5px 5px 10px #7e7e7e;
}


/*************************/

.contenedor-slider{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slider{
    display: flex;
    width: 500%;
    height: 400px;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-left: 6rem;
    padding-right: 6rem;
}
.slider__btn{
    position: absolute;
    width: 50px;
    /*height: 40px;*/
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.silder__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}


/***********************  Alianzas     ************************/
.alianza-fondo{
    background-color: #3b4c61;
    height: 35rem;
}

.texto-alianzas{   
    display: flex;
    padding-top: 30px;
    text-align: center;
    font: var(--fuenteHeading);
    color: var(--colorBlanco);
    font-size: 35px;
}
.texto__alianzas{
    margin: 0;
    margin-left: 35%;
}
.texto__alianzas2{
    margin-left: 30px;
    color: #8db5e9;
}

.contenedor-img{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.img-alianzas{
    width: 270px;
    gap: 2rem;
}


/****************   Contenedor contacto Mini         ***********/
.contenedor-contactoMin{
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 0px 2px 70px 16px rgba(0,0,0,0.78);
    margin: 0 7rem 0 7rem;
    margin-bottom: 5rem;
}

.contenedor-campos-min{
    display: flex;
    gap: 5rem;
    padding: 1.5rem 0 1.5rem 0;
    justify-content: space-evenly;
}
.campo-min{
    border-bottom: 1px solid ;
}

.input-text-min{
    font-size: 1.8rem;
    border: none;
    padding: 0 0 5px 3px;
    outline: rgb(0, 0, 0);
}

.texto-contacto-min{
    padding-left: 3rem;
    font-size: 20px;
}

.alinear-min{
    display: flex;
    justify-content: right;
    margin-bottom: 0rem;
}

.boton-min{
    background-color: var(--colorBoton);
    color: var(--colorBlanco);
    text-decoration: none;
    padding: 5px 3rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 50px;
}